html{
   scroll-padding-top: 56px;
}
body{
   background-color: #001329;
}
.navbar{
         
}
.home{
   height: 100vh;
  
}
.name{
   font-family: 'Oswald', sans-serif;
   font-size: 2.083vw;
   color: #FFD60A;
   padding-top: 250px;
   padding-left: 135px;
}
.homeTitle{
   font-family: 'Oswald', sans-serif;
   font-size: 8.854vw;
   color: #FFC300;
   padding-left: 20px;
}
.desHome{
   font-family: 'EB Garamond', serif;
   color: white;
   font-size: 2.083vw;
   padding-left: 135px;
}
.homeImg{
  padding-top:60px;
  
}

.aboutme{
   height: 100vh;
 
}
.carousel{
   height: 80vh;
}
.carouselimg{
   height: 75vh;
   display: block;
   margin-left: auto;
   margin-right: auto;
         
}
.carousel-caption{
   background-color: #001D3D;
}
.knowledge{
   height: 100vh;
}
.row3{
   border:#FFD60A 3px solid;
   height: 25vh;
   margin-top: 10px;
}
.col3{
   border: #FFC300 1px solid;
   height: 24.5vh ;
   background-color: #001d3d;
}
.kimg{
   display: block;
   margin-left: auto;
   margin-right: auto;
}     

.work{
   height: 100vh;
}
.work2{
   height: 100vh;
}
.aboutme{
   height: 100vh;
  
}
.card-title{
   text-align: center;
   font-size: 2.604vw;
   font-family: 'Oswald', sans-serif;
   color: #FFD60A;
}
.card-text, p{
   font-size: 1.3020833333333333vw;
   font-family: 'EB Garamond', serif;
   color: white;
}
.card{
   background-color: #001D3D;
}
h1{
   color: #FFC300;
   text-align: center;
   font-family: 'Oswald', sans-serif;
   font-size:  5.729166666666667vw;
}

footer  {
   color: #FFC300;
   background-color:#001D3D ;
   text-align: center;
   padding: 20px;
   margin-top: 1in;
}
h4{
   font-family: 'Oswald', sans-serif;
   font-size: 50px;
}
.pfooter{
   font-family: 'EB Garamond', serif;
}